<div class="container">
    <div class="topo">
        <h2>AGENDA ACIC</h2>
        <span class="subtitle">
            <h4>
                O associativismo é a base estratégica de todo o trabalho desenvolvido pela ACIC, 
                que, além de representar, busca a integração da classe empresarial, 
                promovendo ações concretas para o desenvolvimento das empresas, da cidade e região.
            </h4>
        </span>
    </div>
    <div >
        <div >
            <iframe src="https://calendar.google.com/calendar/embed?src=utl5qbvkpfn6qq584alkl8i9i4%40group.calendar.google.com&ctz=America%2FSao_Paulo" 
                    style="border: 0" width="1100" height="1100" frameborder="0" scrolling="no">
            </iframe>
            <mat-divider></mat-divider>    
        </div>
    </div>


</div>