<div class="noticias">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <div class="noticia-column">
                <div>
                    <h4>Titulo</h4>
                </div>
                <div>
                    <span>Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Blanditiis omnis dolores 
                    corrupti fugiat recusandae, dolore placeat 
                    natus saepe facilis eligendi harum! 
                    Excepturi nisi a molestiae doloremque 
                    pariatur rerum quidem reprehenderit?
                    </span>
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="noticia-column">
                <div>
                    <h4>Titulo</h4>
                </div>
                <div>
                    <span>Lorem ipsum dolor sit, 
                    amet consectetur adipisicing elit. 
                    Fuga dolorem facere quas voluptas, 
                    numquam id eaque modi est accusamus minima, 
                    accusantium animi voluptatum in voluptatem 
                    totam ut distinctio ad possimus.
                    </span>
                </div>
                </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="noticia-column">
                <div>
                    <h4>Titulo</h4>
                </div>
                <div>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing. 
                    Provident inventore delectus iure animi! 
                    Aperiam maxime asperiores quas ad quidem est perspiciatis. 
                    Quisquam dignissimos quo harum et repellat saepe tempora.
                    </span>
                </div>
                </div>
        </mat-grid-tile>
      </mat-grid-list>    
</div>
