
<div class="noticias">
    <h2><strong>Notícias</strong></h2>
    <mat-grid-list  cols="3" rowHeight="2:3">
        <mat-grid-tile *ngFor="let noticia of noticias | async">
            <div class="noticia-column">
                <div class="noticiaTitulo">
                    <h3> {{ noticia.titulo }} </h3>
                </div>
                <div class="imgNoticia">
                    <img src="https://firebasestorage.googleapis.com/v0/b/portalacic-cacador.appspot.com/o/noticias%2Famostra01.jpg?alt=media&token=8995b84b-7b88-4f78-89b1-4303d4682f72" alt="">
                </div>
                <div class="textNoticia">
                    <span>
                        {{ noticia.conteudo }}
                    </span>
                </div>
                <span> <a href="/noticias">Mais...</a></span>
            </div>
            
        </mat-grid-tile>
        <!-- <mat-grid-tile>
                <div class="noticia-column">
                    <div class="noticiaTitulo">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    </div>
                    <div class="imgNoticia">
                        <img src="../../assets/img/noticias/amostra02.jpg" alt="">
                    </div>
                    <div class="textNoticia">
                        <span>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Blanditiis omnis dolores 
                        corrupti fugiat recusandae, dolore placeat 
                        natus saepe facilis eligendi harum! 
                        Excepturi nisi a molestiae doloremque 
                        pariatur rerum quidem reprehenderit?Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Blanditiis omnis dolores 
                        corrupti fugiat recusandae, dolore placeat 
                        natus saepe facilis eligendi harum! 
                        Excepturi nisi a molestiae doloremque 
                        pariatur rerum quidem reprehenderit?
                        </span>
                    </div>
                </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="noticia-column">
                    <div class="noticiaTitulo">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    </div>
                    <div class="imgNoticia">
                        <img src="../../assets/img/noticias/amostra03.jpg" alt="">
                    </div>
                    <div class="textNoticia">
                        <span>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Blanditiis omnis dolores 
                        corrupti fugiat recusandae, dolore placeat 
                        natus saepe facilis eligendi harum! 
                        Excepturi nisi a molestiae doloremque 
                        pariatur rerum quidem reprehenderit?Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Blanditiis omnis dolores 
                        corrupti fugiat recusandae, dolore placeat 
                        natus saepe facilis eligendi harum! 
                        Excepturi nisi a molestiae doloremque 
                        pariatur rerum quidem reprehenderit?
                        </span>
                    </div>
                </div>
        </mat-grid-tile> -->
    </mat-grid-list>    
</div>
