%noticia-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 10px;
}

.noticias {
    width: 1100px;
    height: 250px;
    
}


.item-noticia span {
    margin: 10px;
}

.noticia-column {
    @extend %noticia-column;
}