%flex-center {
    display: flex;
    justify-content: center;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
}


%flex-end {
    display: flex;
    justify-content: flex-end;
}


.containerTopo {
    @extend %flex-start;
    align-items: center;
    width: 1000px;
    height: 136px;
    // z-index: 1;
    flex-direction: row;
    // position: absolute;
    top: 0px;    
}

.menu {
    margin-left: 60px;
}


.menuSuperior {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 64px;
    top: 0px;
    padding-top: 25px;
}

.esquerdoSup {
    
}

.direitoSup {
    
}

.menuInferior {
    color: grey;
    height: 68px;
    display: flex;   
}


.logoPrincipal {
    background-color: white;
    border: solid white;
    box-shadow: 1px 2px 2px 
    rgba(181, 181, 181, 0.5);
    width: 100px;        
    top: 0px;
}

.logoPrincipal img {
    width: 100px;
}

