%flex-center {
    display: flex;
    justify-content: center;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
}

.icon {
    padding: 5px 0px;
    margin-right: 5px;
}
  
  .spacer {
    flex: 1 0 auto;
}

#btnAssoc {
    background-color: rgba(131, 195, 129, 1);
    border-radius: 3px;
}

.containerTopo {
    @extend %flex-start;
    align-items: center;
    width: 1000px;
    height: 136px;
    // z-index: 1;
    flex-direction: row;
    // position: absolute;
    top: 0px;    
}

.menu {
    width: 1000px;
    margin-top: -9px;
}


.menuSuperior {
    background-color: rgba(0, 142, 107, 1);
    color: white;
}

.menuSuperior span {
    text-align: left;
}


.logoPrincipal {
    background-color: white;
    border: solid white;
    box-shadow: 1px 2px 2px 
    rgba(181, 181, 181, 0.5);
    width: 100px;        
    top: 0px;
    
}

.logoPrincipal img {
    width: 100px;
}

