<div class="containerTopo">
    <div class="logoPrincipal">
        <img src="../../assets/img/ACIC_logo.png" alt="">
    </div>
    <mat-toolbar class="menu">    
        <mat-toolbar-row class="menuSuperior">
            <span>            
            <button mat-button [matMenuTriggerFor]="menu">
                A ACIC
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                    <button mat-menu-item>Histórico</button>
                    <button mat-menu-item>Diretoria</button>
                    <button mat-menu-item>Ex-Presidentes</button>
                    <button mat-menu-item>Balancetes</button>
                    <button mat-menu-item>Núcleos Empresariais</button>
                    <button mat-menu-item>Revista ACIC Notícias</button>
                    <button mat-menu-item>Diretoria</button>
            </mat-menu>                        
            </span>
            <span>    
                <button mat-button >
                    Notícias
                </button>
            </span>
            <span>    
                <button mat-button >
                    Contatos
                </button>
            </span>
            <span>    
                <button mat-button >
                    Indicadores
                </button>
            </span>
            <span class="spacer"></span>
            
            <a href="#">
                <mat-icon svgIcon="facebook" aria-hidden="false"></mat-icon>
            </a>
            <a href="#">
                <mat-icon svgIcon="instagram" aria-hidden="false"></mat-icon>
            </a>
            <a href="#">
                    <mat-icon svgIcon="linkedin" aria-hidden="false"></mat-icon>
            </a>
            <span id="btnAssoc">                
                <button mat-button>Associe-se à ACIC</button>
            </span>
        </mat-toolbar-row>
        
        <mat-toolbar-row class="menuInferior">
            <span>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Help</button>
                </mat-menu>
                            
                <button mat-button [matMenuTriggerFor]="appMenu">
                        Produtos
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </span>
            <span>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Help</button>
                </mat-menu>
                                
                <button mat-button [matMenuTriggerFor]="appMenu">
                        Serviços Empresariais
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </span>
            <span>    
                <button mat-button >
                    Cursos e Palestras
                </button>
            </span>
            <span>    
                <button mat-button >
                    Convênios
                </button>
            </span>
            
            <span class="spacer"></span>
            <span>
                <mat-form-field class="procurar">
                    <input matInput type="text" 
                           placeholder="Procurar"
                           autocomplete="off">
                    <button mat-button
                            matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
            

</div>
