
<div class="containerTopo">
    <div class="logoPrincipal">
        <img src="../../assets/img/ACIC_logo.png" 
             alt="Acic Caçador">
    </div>
    <div class="menu">
            
        <div fxFlex fxLayout class="menuSuperior">
            <div class="esquerdoSup">
                <button mat-button
                [matMenuTriggerFor]="acic"> 
                A ACIC
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button> mat-menu-item>Sobre a ACIC 
                    </button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button> 
                    Notícias
                </button>
                <button mat-button> 
                    Contatos
                </button>
                <button mat-button> 
                    Informações
                </button>
            </div>
            <div class="direitoSup">
                <div class="social">
                    
                            <img id="facebook" 
                            src="../../assets/img/facebook-brands.svg">
                    
                            <img id="instagram" 
                            src="../../assets/img/instagram-brands.svg">
                    
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <img src="https://img.icons8.com/windows/32/000000/instagram-new.png">
                </div>
                <div class="btnAssoc">
                    <button mat-raised-button>
                        Associe-se
                    </button>
                </div>    
            </div>            
        </div>        
        <div class="menuInferior">
            <div class="esquerdoInf">
                <button mat-button
                [matMenuTriggerFor]="acic">
                Produtos
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button mat-menu-item>Sobre a ACIC</button>
                    <button> mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button
                [matMenuTriggerFor]="acic">
                Serviços
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button mat-menu-item>Sobre a ACIC</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button> 
                    Cursos e Palestras
                </button>
                <button mat-button> 
                        Convênios
                </button>
            </div>
            <div class="direitoInf">
                <div class="searchInput">
                        <mat-form-field class="busca">
                            <input matInput type="text" placeholder="Procurar">
                            <button mat-button
                                    autocomplete="off" 
                                    matSuffix 
                                    mat-icon-button 
                                    aria-label="Procurar">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>                        
                    
                </div>                
            </div>
        </div>
    </div>
</div>