
<div class="containerTopo">
    <div class="logoPrincipal">
        <img src="../../assets/img/ACIC_logo.png" 
             alt="Acic Caçador">
    </div>
    <div class="menu">
        <div class="menuSuperior">
            <div class="esquerdoSup">
                <button mat-button
                [matMenuTriggerFor]="acic"> 
                A ACIC
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button> mat-menu-item>Sobre a ACIC 
                    </button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button> 
                    Notícias
                </button>
                <button mat-button> 
                    Contatos
                </button>
                <button mat-button> 
                    Informações
                </button>
            </div>
            <div class="direitoSup">
                <div class="social">
                        <i class="fab fa-instagram"></i>
                    <img id="facebook" 
                         src="../../assets/img/facebook-brands.svg">
                         
                </div>
                <div class="btnAssoc">
                    <button mat-raised-button>
                        Associe-se
                    </button>
                </div>    
            </div>            
        </div>        
        <div class="menuInferior">
            <div class="esquerdoInf">
                <button mat-button
                [matMenuTriggerFor]="acic">
                Produtos
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button mat-menu-item>Sobre a ACIC</button>
                    <button> mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button
                [matMenuTriggerFor]="acic">
                Serviços
                <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #acic="matMenu">
                    <button mat-menu-item>Sobre a ACIC</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <button mat-button> 
                    Cursos e Palestras
                </button>
                <button mat-button> 
                        Convênios
                </button>
            </div>
            <div class="direitoInf">
                <mat-form-field class="busca">
                    <input matInput
                           autocomplete="off" 
                           placeholder="Pesquisar">
                </mat-form-field>
                <mat-icon>search</mat-icon>
            </div>
        </div>
    </div>
</div>