%flex-center {
    display: flex;
    justify-content: center;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
}

a {
    text-decoration: none;
    
    font-size: 15px;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

.icon {
    padding: 5px 0px;
    margin-right: 5px;
}
  
.spacer {
    flex: 1 0 auto;
}

#btnAssoc {
    background-color: rgba(131, 195, 129, 1);
    border-radius: 3px;
}

.containerTopo {
    @extend %flex-start;
    align-items: center;
    width: 1100px;
    height: 136px;
    // z-index: 1;
    flex-direction: row;
    // position: absolute;
    top: 0px;    
}

.menu {
    width: 100%;
    margin-top: -9px;
    margin-left: 100px;
}


.menuSuperior {
    background-color: rgba(0, 142, 107, 1);
    color: white;    
}

.menuSuperior a {
    text-decoration: none;
}

.menuSuperior a {
    color: white;
}

mat-icon {
    margin-top: 5px;
    margin-right: 5px;
}

.menuSuperior span {
    text-align: left;
}

.menuInferior {
    color: grey;
}

.logoPrincipal {
    background-color: white;
    border: solid white;
    box-shadow: 1px 2px 2px 
    rgba(181, 181, 181, 0.5);
    width: 100px;        
    top: 0px;
    position: absolute;
    z-index: 2;
}

.logoPrincipal img {
    width: 100px;
}

.procurar {
    
    width: 150px;
    font-size: 14px;
}

