<div class="container">
    <div class="topo">
        <h2>NÚCLEO DE CONTADORES</h2>
        <div class="subtitle">
            <h4>
                MISSÃO: Promover o desenvolvimento e a valorização da classe contábil, 
                através de capacitação e cooperação mútua com uma visão inovadora. 
                Encontrar soluções aos problemas comuns em nosso meio   buscando a excelência em serviços prestados, 
                fundada na qualidade, ética, união, profissionalismo e crescimento individual e coletivo.
            </h4>
        </div>
    </div>
        <div class="content">

            <div id="nucleo-cont" class="nucleos-elements">
                
                    <img src="../../assets/nucleos/nucleo-de-contadores-image(560x320-crop).jpg" 
                         alt="Núcleo de Contadores">
                
            <h3>Nucleados:</h3>                        
                <h4>
                    <ul>

                         Contábil Roman Ross <br>
                         Alberto Zir <br>
                         Binotto e Parisotto Contabilidade <br>
                         BWR Contabilidade <br>
                         Claudinei Bertotto <br>
                         Contábil Binotto <br>
                         Contábil Caçador <br>
                         Contábil Gabriel<br>
                         Contábil Ramar<br>
                         Contábil Scapinelli<br>
                         Contabilidade Cherba<br>
                         Contabilidade Doluni<br>
                         Escritório Contábil Pereira<br>
                         Escritório Schmitz<br>
                         GHP Contabilidade<br>
                         Meio Oeste Ambiental Ltda.<br>
                         Roveda Indústria Química Ltda.<br>
                         Somar Industrial de Embalagens<br>
                         Brascon<br>
                         TMO<br>
                         CooperHF<br>
                         Supremo<br>
                         Contades<br>
                         Hospital Maicé<br>
                         Unimed<br>
                         CH Center<br>
                         Supermercados Cereal<br>
                         Doces Caseiros Zeni<br>
                         Prefeitura de Caçador<br>
                    </ul>
                </h4>    
                <mat-divider></mat-divider>    
            </div>            
                        
        </div>
</div>
