<div class="container">
    <div class="topo">
        <h2>“O ASSOCIATIVISMO É A BASE ESTRATÉGICA DE TODO O TRABALHO DESENVOLVIDO PELA ACIC”</h2>
        <span class="subtitle">
            <h4>O associativismo é a base estratégica de todo o trabalho desenvolvido pela ACIC, 
                que, além de representar, busca a integração da classe empresarial, 
                promovendo ações concretas para o desenvolvimento das empresas, da cidade e região.
            </h4>
        </span>
    </div>
    <div class="content">
        <div id="historia" class="sobre-elements">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>Nossa História</h3>
            <p> 
                No dia 2 de fevereiro de 1941, algumas pessoas se reuniram, 
                no Clube 7 de Setembro em Caçador, Santa Catarina. 
                Elas estavam definindo a criação de uma entidade.
                Talvez elas nem imaginassem na época, na força que este ato representaria no futuro, 
                mas tinham certeza que o associativismo era a melhor forma para crescer. E estavam certos.
                Esta reunião precedia outras duas realizadas: 
                uma no dia 2 de janeiro e a outra, no dia 19. 
                Na ata da primeira, podia-se entender o que aqueles empreendedores da época, 
                seguindo uma tendência regional queriam: “Acta da reunião realizada nesta 
                cidade de Caçador em 2/1/41, para a fundação da Associação Comercial de Caçador”. 
                Um mês depois, a Associação Comercial de Caçador – 
                que hoje é Associação Empresarial - (Acic) estava criada.
                A entidade, que serviria aos interesses dos grandes madeireiros de Caçador, 
                foi se transformando, aos poucos, em referência, 
                tanto para o município quanto para o Estado e país. 
                Além disso, empresários associados eram auxiliados, 
                com a divulgação de notas na imprensa da época, com o apoio da Acic.
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div class="sobre-elements" id="missao">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>Missão da ACIC</h3>
            <p> 
                “Representar e desenvolver empreendedores e empresas de Caçador e região, 
                oferecendo soluções inovadoras e manifestando a força do associativismo, 
                da inovação e do conhecimento em todas as nossas ações”.
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div class="sobre-elements" id="visao">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>Visão da ACIC</h3>
            <p> 
                “Consolidar-se como entidade com gestão moderno e eficiente, 
                fortalecendo a representação institucional e a oferta de soluções 
                e serviços capazes de atrair e fidelizar associados”.
            </p>
            <mat-divider></mat-divider>    
        </div>
        
        

        <div class="sobre-elements" id="diretoria">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>Diretoria da ACIC - Biênio 2017/2018</h3>
            <p> 
                Nome: Moacir José Salamoni
                Cargo: Presidente
            </p>
            <p>
                Nome: Jose Carlos Tombini
                Cargo: Vice Presidente da Indústria
            </p>
            <p>
                Nome: Carlos Alberto Luhrs
                Cargo: Vice Presidente do Comércio
            </p>
            <p>
                Nome: Leandro Seleme
                Cargo: Diretor Secretário
            </p>
            <p>
                Nome: João Machiavelli
                Cargo: Vice Diretor Secretário
            </p>
            <p>
                Nome: Claudinei Bertotto
                Cargo: Diretor Financeiro
            </p>
            <p>
                Nome: Gilberto Seleme
                Cargo: Vice Diretor Financeiro
            </p>
            <p>
                Nome: Neoberto Geraldo Balestrin
                Cargo: Diretor Social
            </p>
            <p>
                Nome: Ilton Paschoal Rotta
                Cargo: Vice-Diretor Social
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div class="sobre-elements" id="conselho-fiscal">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>CONSELHO FISCAL</h3>
            <p>
                José Adami Neto
            </p>
            <p>
                Henrique Luis Basso
            </p>
            <p>
                Leonir Antonio Tesser
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div class="sobre-elements" id="suplentes">
            <!-- <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir"> -->
            <h3>SUPLENTES</h3>
            <p>
                Jovelci Domingos Gomes
            </p>
            <p>
                Auri Marcel Baú
            </p>
            <p>
                Eduardo Seleme
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div class="sobre-elements" id="video">
            <h3>Video Institucional</h3>
            <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/o8oTgcV9FJs" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; 
                           gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
            <mat-divider></mat-divider>    
        </div>      
</div>