<div class="container">
    <div class="topo">
        <h2>SOLUÇÕES ACIC</h2>
        <span class="subtitle">
            <h4>A ACIC trabalha para ampliar o quadro de associados, 
                sempre procurando oferecer vantagens e serviços que fazem a diferença. 
                A entidade também está engajada em causas para melhorar a qualidade de 
                vida da população de Caçador e região.
            </h4>
        </span>
    </div>
    <div class="content">
        <div id="empreender" class="solution-elements">
            <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir">
            <h3>EMPREENDER- UNIR PARA CRESCER</h3>
            <p> Empreender- Unir para crescer 
                O Empreender é o associativismo na prática. 
                É uma estratégia que estimula a competitividade 
                empresarial a mais de 20 anos de forma ininterrupta e em 
                Santa Catarina tem apoiado mais de 5.800 empresas, 
                em 80 cidades, por meio de 467 núcleos empresariais. 
                Um conjunto de elementos é a receita de sucesso do programa em Santa Catarina. 
                Com a moderação de um consultor, são discutidos desafios e necessidades 
                encontradas pelo grupo, na busca de soluções em conjunto. 
                O objetivo deste trabalho é contribuir para a quebra do isolamento 
                da micro e pequena empresa, promover o associativismo e o 
                desenvolvimento do negócio através de inciativas empreendedoras. 
                Através dos núcleos, as empresas têm acesso à informação,
                atuam ao lado de seus concorrentes num ambiente favorável ao crescimento, 
                trocam ideias, realizam compras em conjunto e promovem uma série de ações 
                que comprovam a importância de atuar no meio associativista. 
                Saiba mais em  <a href="www.empreender.org.br">empreender.org.br</a> 
            </p>
            <mat-divider></mat-divider>    
        </div>
        <div id="util-card" class="solution-elements">
            <img src="../../../assets/solucoes/util-card.jpg" alt="Empreender para unir">
            <h3>CARTÃO ÚTIL CARD</h3>
            <p> Cartão de gestão de benefícios que informatiza o sistema de vales 
                da sua empresa, além da gestão de convênios com supermercados, 
                farmácias, postos de combustíveis e outras atividades. 
                Ao mesmo tempo, promove o desenvolvimento do comércio local, 
                pois credencia as empresas locais e regionais como aptas a 
                receberem o cartão como forma de pagamento. 
                O desconto é feito em folha de pagamento, 
                sem ônus adicional para a sua empresa nem para os seus colaboradores. 
                Saiba mais em <a href="www.utilcard.com.br">utilcard.com.br</a>
            </p>
            <mat-divider></mat-divider>    
        </div>
        
    </div>


</div>