<div class="container">
    <div class="topo">
        <h2>SOLUÇÕES ACIC</h2>
        <span class="subtitle">
            <h4>A ACIC trabalha para ampliar o quadro de associados, 
                sempre procurando oferecer vantagens e serviços que fazem a diferença. 
                A entidade também está engajada em causas para melhorar a qualidade de 
                vida da população de Caçador e região.
            </h4>
        </span>
    </div>
    <div class="content">
        <div id="empreender" class="solution-elements">
            <img src="../../../assets/solucoes/empreender-unir.jpg" alt="Empreender para unir">
            <h3>EMPREENDER- UNIR PARA CRESCER</h3>
            <p> Empreender- Unir para crescer 
                O Empreender é o associativismo na prática. 
                É uma estratégia que estimula a competitividade 
                empresarial a mais de 20 anos de forma ininterrupta e em 
                Santa Catarina tem apoiado mais de 5.800 empresas, 
                em 80 cidades, por meio de 467 núcleos empresariais. 
                Um conjunto de elementos é a receita de sucesso do programa em Santa Catarina. 
                Com a moderação de um consultor, são discutidos desafios e necessidades 
                encontradas pelo grupo, na busca de soluções em conjunto. 
                O objetivo deste trabalho é contribuir para a quebra do isolamento 
                da micro e pequena empresa, promover o associativismo e o 
                desenvolvimento do negócio através de inciativas empreendedoras. 
                Através dos núcleos, as empresas têm acesso à informação,
                atuam ao lado de seus concorrentes num ambiente favorável ao crescimento, 
                trocam ideias, realizam compras em conjunto e promovem uma série de ações 
                que comprovam a importância de atuar no meio associativista. 
                Saiba mais em  <a href="www.empreender.org.br">empreender.org.br</a> 
            </p>
            <mat-divider></mat-divider>    
        </div>
        <div id="util-card" class="solution-elements">
            <img src="../../../assets/solucoes/util-card.jpg" alt="Empreender para unir">
            <h3>CARTÃO ÚTIL CARD</h3>
            <p> Cartão de gestão de benefícios que informatiza o sistema de vales 
                da sua empresa, além da gestão de convênios com supermercados, 
                farmácias, postos de combustíveis e outras atividades. 
                Ao mesmo tempo, promove o desenvolvimento do comércio local, 
                pois credencia as empresas locais e regionais como aptas a 
                receberem o cartão como forma de pagamento. 
                O desconto é feito em folha de pagamento, 
                sem ônus adicional para a sua empresa nem para os seus colaboradores. 
                Saiba mais em <a href="www.utilcard.com.br">utilcard.com.br</a>
            </p>
            <mat-divider></mat-divider>    
        </div>
        <div id="util-card-food" class="solution-elements">
            <img src="../../../assets/solucoes/util-card-alimentacao.jpg" alt="CARTÃO ÚTIL ALIMENTAÇÃO">
            <h3>CARTÃO ÚTIL ALIMENTAÇÃO</h3>
            <p> É um sistema de cartões que atende uma das modalidades do PAT 
                (Programa de Alimentação do Trabalhador). Trata-se de uma solução 
                empresarial com investimento zero e muitos benefícios. A empresa carrega o 
                cartão com um valor previamente determinado, após, o colaborador em posse 
                deste cartão se dirige à rede credenciada, formada por estabelecimentos que 
                vendem alimentos in natura (mercados, padarias, açougues, etc.). 
                O colaborador pode adquirir os bens efetuando o pagamento com o cartão 
                (até o valor que foi creditado). Saiba mais em <a href="www.utilcard.com.br">utilcard.com.br</a>
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div id="scpc" class="solution-elements">
            <img src="../../../assets/solucoes/scpc.jpg" alt="SCPC BOA VISTA SERVIÇOS">
            <h3>SCPC BOA VISTA SERVIÇOS</h3>
            <p> 
                A Boa Vista SCPC (Serviço Central de Proteção ao Crédito) 
                é uma empresa que oferece soluções inteligentes para decisões 
                sustentáveis de crédito e gestão de negócios, a serviço de 
                empresas e consumidores. Sua base de dados contém mais de 350 milhões 
                de informações comerciais sobre consumidores, e registra 42 milhões de 
                transações de negócios por dia. A Boa Vista SCPC fornece atualmente mais 
                de 200 milhões de consultas por mês a seus clientes e consumidores.
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div id="xml" class="solution-elements">
            <img src="../../../assets/solucoes/xml-empresarial.jpg" alt="XML EMPRESARIAL">
            <h3>XML EMPRESARIAL</h3>
            <p> 
                Atendendo à necessidade das empresas e visando contribuir com o 
                cumprimento de uma das principais obrigações da legislação 
                referente às notas fiscais eletrônicas, o XML Empresarial organiza, 
                armazena e valida, de maneira segura, os arquivos XML e sua autenticidade. 
                O fisco exige que as empresas arquivem os arquivos XML das NFes por até cinco anos. 
                De acordo com a Lei 14.967/09 (Art. 81B), a multa é de R$ 1.000,00 
                (um mil reais) por arquivo, quando a empresa deixar de guardar os 
                arquivos XML ou deixar de disponibilizar ao destinatário. 
                O diferencial é que o XML Empresarial da FACISC possui o módulo de 
                rastreabilidade de arquivos XML, permitindo, assim, que o empresário 
                consiga verificar de maneira simples e fácil todas as notas fiscais 
                eletrônicas emitidas contra o CNPJ de sua empresa. 
                Saiba mais em <a href="www.xmlempresarial.com.br">xmlempresarial.com.br</a>
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div id="jucesc" class="solution-elements">
            <img src="../../../assets/solucoes/jusesc.jpg" alt="jucesc">
            <h3>ESCRITÓRIO REGIONAL DO JUCESC - JUNTA COMERCIAL DO ESTADO DE SC</h3>
            <p> O escritório regional da Jucesc oferece os serviços de 
                Constituição de Empresa,
                Alteração de Empresa,
                Baixas de empresas,
                Certidões,
                Autenticação de livros.
            </p>
            <mat-divider></mat-divider>    
        </div>

        <div id="printe" class="solution-elements">
            <img src="../../../assets/solucoes/printe.jpg" alt="PRINTE- PROTEÇÃO INTELECTUAL">
            <h3>PRINTE- PROTEÇÃO INTELECTUAL</h3>
            <p> 
                O Programa de Proteção Intelectual (PRINTE) é uma solução empresarial 
                criada para oferecer a segurança que o empreendedor procura para o seu 
                capital intelectual. Com o PRINTE é possível obter os benefícios gerados 
                pela correta proteção e utilização dos bens intangíveis de um empreendimento. 
                Saiba mais em <a href="www.printe.com.br">printe.com.br</a>
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="cert-digital" class="solution-elements">
            <img src="../../../assets/solucoes/util-card-alimentacao.jpg" alt="CERTIFICADO DIGITAL">
            <h3>CERTIFICADO DIGITAL</h3>
            <p> 
                O documento eletrônico de identidade E-CPF ou e-CNPJ 
                é utilizado para garantir a autenticidade dos remetentes 
                e destinatários de documentos e dados que trafegam pela internet, 
                assegurando sua inviolabilidade.
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="cert-origem" class="solution-elements">
            <img src="../../../assets/solucoes/certificado-origem.jpg" alt="CERTIFICADO DO ORIGEM">
            <h3>CERTIFICADO DO ORIGEM</h3>
            <p> 
                A ACIC atesta o documento providenciado pelo exportador 
                e utilizado pelo importador para comprovação da origem das 
                mercadorias e habilitações para isenções fiscais e/ou acordos comerciais
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="uniodonto" class="solution-elements">
            <img src="../../../assets/solucoes/uniodonto.jpg" alt="UNIODONTO">
            <h3>UNIODONTO</h3>
            <p> 
                Sorria. Por intermédio de parceria com a Uniodonto SC, 
                sua empresa pode oferecer assistência odontológica aos seus colaboradores, 
                extensível aos seus respectivos dependentes. 
                Os planos odontológicos proporcionam acesso a ótimos profissionais, 
                aptos a garantirem o bem estar e a saúde do colaborador e seus dependentes. 
                Saiba mais em <a href="www.uniodonto.com.br">uniodonto.com.br</a>
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="dvdteca" class="solution-elements">
            <img src="../../../assets/solucoes/uniodonto.jpg" alt="DVDTECA">
            <h3>DVDTECA</h3>
            <p> 
                Conhecimento em vídeo na sua casa ou empresa. 
                São mais de 100 títulos relacionados à 
                Gestão empresarial à sua disposição.
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="revista-acic" class="solution-elements">
            <img src="../../../assets/solucoes/revista-acic.jpg" alt="Revista Acic">
            <h3>REVISTA ACIC</h3>
            <p> 
                Uma publicação dirigida aos empresários e comunidade de 
                Caçador e região com notícias, informações e conteúdo 
                que esclarece e forma opinião.
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="relatorio" class="solution-elements">
            <img src="../../../assets/solucoes/revista-acic.jpg" alt="RELATÓRIO SEMANAL DE ATIVIDADES">
            <h3>RELATÓRIO SEMANAL DE ATIVIDADES</h3>
            <p> 
                Semanalmente os associados ficam sabendo de tudo 
                que acontece na ACIC através de um registro eletrônico 
                com textos e fotos enviado por email. 
                Semanalmente os associados ficam sabendo de tudo que 
                acontece na ACIC através de um registro eletrônico 
                com textos e fotos enviado por email.
            </p>
            
            <mat-divider></mat-divider>    
        </div>

        <div id="auditorio-acic" class="solution-elements">
            <img src="../../../assets/solucoes/auditorio-acic.jpg" alt="LOCAÇÃO DO AUDITÓRIO">
            <h3>LOCAÇÃO DO AUDITÓRIO</h3>
            <p> 
                Moderno auditório para 120 pessoas com completa infraestrutura 
                multimídia para realização de eventos oferecendo comodidade e 
                conforto. Moderno auditório para 120 pessoas com completa 
                infraestrutura multimídia para realização de eventos oferecendo comodidade e conforto.
            </p>
            
            <mat-divider></mat-divider>    
        </div>
        
    </div>


</div>