<div class="tituloSolucoes">
  <h3>Soluções</h3>
</div>
<div class="solucoes-container">
    <mat-tab-group mat-stretch-tabs  [selectedIndex]="selected"
                 headerPosition='below'>
                 <mat-tab>
                  <div class="img-banner">
                    <img src="../../assets/solucoes/auditorio-acic.jpg" alt="">
                    <img src="../../assets/solucoes/certificado-digital.jpg" alt="">
                    <img src="../../assets/solucoes/dvdteca.jpg" alt="">
                  </div>
                </mat-tab>
                
                <mat-tab>
                  <div class="img-banner">
                    <img src="../../assets/solucoes/empreender-unir.jpg" alt="">
                    <img src="../../assets/solucoes/jusesc.jpg" alt="">
                    <img src="../../assets/solucoes/printe.jpg" alt="">
                  </div>
                </mat-tab>
              
                <mat-tab>                  
                  <div class="img-banner">
                    <img src="../../assets/solucoes/relatorios-acic.jpg" alt="">
                    <img src="../../assets/solucoes/revista-acic.jpg" alt="">
                    <img src="../../assets/solucoes/scpc.jpg" alt="">
                  </div>
                </mat-tab>

                <mat-tab>                  
                  <div class="img-banner">
                    <img src="../../assets/solucoes/uniodonto.jpg" alt="">
                    <img src="../../assets/solucoes/util-card-alimentacao.jpg" alt="">
                    <img src="../../assets/solucoes/util-card.jpg" alt="">
                  </div>
                </mat-tab>
      </mat-tab-group>    
</div>

