<div class="tituloSolucoes">
  <h3>SOLUÇÕES ACIC</h3>
</div>
<div class="solucoes-container">
    <mat-tab-group mat-stretch-tabs  [selectedIndex]="selected"
                 headerPosition='below'>
                 <mat-tab>
                  <div class="img-banner">
                    <a href="#"> <img src="../../assets/solucoes/auditorio-acic.jpg" alt=""></a>
                    <a href="#"> <img src="../../assets/solucoes/certificado-digital.jpg" alt=""></a>
                    <a href="#"> <img src="../../assets/solucoes/dvdteca.jpg" alt=""></a>
                  </div>
                </mat-tab>
                
                <mat-tab>
                  <div class="img-banner">
                    <a href="#"> <img src="../../assets/solucoes/empreender-unir.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/jusesc.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/printe.jpg" alt=""> </a>
                  </div>
                </mat-tab>
              
                <mat-tab>                  
                  <div class="img-banner">
                    <a href="#"> <img src="../../assets/solucoes/relatorios-acic.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/revista-acic.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/scpc.jpg" alt=""> </a>
                  </div>
                </mat-tab>

                <mat-tab>                  
                  <div class="img-banner">
                    <a href="#"> <img src="../../assets/solucoes/uniodonto.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/util-card-alimentacao.jpg" alt=""> </a>
                    <a href="#"> <img src="../../assets/solucoes/util-card.jpg" alt=""> </a>
                  </div>
                </mat-tab>
      </mat-tab-group>    
</div>

<div class="detalheSolucoes" >
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Esse cumque quis molestias fugit nobis a aspernatur ut sapiente, 
    nemo voluptatem fugiat? 
    Quis corporis omnis consectetur exercitationem possimus dolorum qui quasi.
    Lorem ipsum dolor sit amet consectetur, 
    adipisicing elit. 
    Enim iure reprehenderit recusandae similique dolor officia fuga voluptas facilis, 
    illum accusamus voluptatem fugit ratione nemo adipisci sunt ipsum dolorem minima veniam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Dolore consectetur, 
    adipisci in similique earum repudiandae culpa fugiat quisquam ut animi blanditiis optio neque officia doloribus ullam aut deleniti! Placeat, nam!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Minus, quasi quod? 
    Recusandae obcaecati quo quos ducimus adipisci, 
    voluptatem aliquam, animi alias natus unde molestiae, molestias consequatur aliquid a hic. Numquam.
    
  </p>
</div>