<div class="container">
    <div class="topo">
        <h2>NÚCLEOS ACIC</h2>
        <span class="subtitle">
            <h4>
                O associativismo é a base estratégica de todo o trabalho desenvolvido pela ACIC, 
                que, além de representar, busca a integração da classe empresarial, 
                promovendo ações concretas para o desenvolvimento das empresas, da cidade e região.
                O bom associativismo precisa da renovação, ele é civilizatório e organizador, 
                cria ambientes positivos, proporciona o ganho interno ao praticar a pluralidade, 
                sustenta a superação da opinião individualista, além de contribuir para o ganho social.
            </h4>
        </span>
    </div>
    <div class="content">
        <div id="alcateia" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-jovem-alcateia-empreendedora-image(560x320-crop).jpg" 
                 alt="Núcleo Jovem Alcateia Empreendedora">
            <h3>Núcleo Jovem Alcateia Empreendedora</h3>
            <h4>NEGÓCIO: Integrar jovens empreendedores de Caçador.</h4>
            <h4>MISSÃO: Desenvolver os jovens nucleados, fomentando a cultura de empreendedorismo.</h4>
            <h4>VISÃO: Ser reconhecido como um núcleo gerador de projetos empreendedores.</h4>
            <h4>VALORES: Colaboração, Inovação, Visão Empreendedora e Objetividade</h4>
            <mat-divider></mat-divider>    
        </div>

        <div id="acap" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-apicultores-acap-associacao-de-apicultores-de-cacador-e-regiao-image(560x320-crop).jpg" 
                 alt="Núcleo de Apicultores ACAP- Associação de Apicultores de Caçador e Região">
            <h3>Núcleo de Apicultores ACAP- Associação de Apicultores de Caçador e Região</h3>
            <h4>Missão: Oferecer produtos saudáveis de ótima qualidade, respeitando e preservando a natureza, 
                com base no bom atendimento aos clientes.</h4>
            <h4>Visão: Ser referência em produtos saudáveis e que melhorem a 
                qualidade de vida dos nossos consumidores.</h4>
            <mat-divider></mat-divider>    
        </div>

        <div id="nic" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-imobiliario-nic-nucleo-imobiliario-de-cacador-image(560x320-crop).jpg" 
                 alt="Núcleo Imobiliário NIC- Núcleo Imobiliário de Caçador">
            <h3>Núcleo Imobiliário NIC- Núcleo Imobiliário de Caçador</h3>
            <h4>NEGÓCIO: Integração dos corretores de imóveis,objetivando maior representatividade junto à comunidade.</h4>
            <h4>MISSÃO: Desenvolver ações com parcerias e fortalecimentoda classe.</h4>
            <h4>VISÃO: Ser referência em segurança nos negóciosimobiliários, buscando excelência dos serviços.</h4>
            <h4>VALORES: Profissionalismo, parceria, credibilidade, inovação transparência e respeito.</h4>
            <mat-divider></mat-divider>    
        </div>

        <div id="nbhr" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-bares-restaurantes-e-hoteis-nucleo-de-gastronomia-e-turismo-image(560x320-crop).jpg" 
                 alt="Núcleo de Bares Restaurantes e Hotéis Núcleo de Gastronomia e Turismo">            
            <h3>Núcleo de Bares Restaurantes e Hotéis Núcleo de Gastronomia e Turismo</h3>
            <mat-divider></mat-divider>    
        </div>

        <div id="nrh" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-recursos-humanos-nucleo-de-rh-image(560x320-crop).jpg" 
                 alt="Núcleo De Recursos Humanos - Núcleo De RH">
            <h3>Núcleo De Recursos Humanos - Núcleo De RH</h3>
            <h4>Missão: buscar soluções em RH através de um ambiente favorável 
                e de políticas que promovam o desenvolvimento e crescimento das 
                pessoas e das organizações. Visão: até 2018 ser referência para organizações 
                que desenvolvem, valorizam e retém pessoas.</h4>
            <mat-divider></mat-divider>    
        </div>

        <div id="nucleo-cont" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-contadores-image(560x320-crop).jpg" 
                 alt="Núcleo de Contadores">
            <h3>Núcleo de Contadores</h3>
            <h4> Missão: Promover o desenvolvimento e a valorização da classe contábil, 
                 através de capacitação e cooperação mútua com uma visão inovadora. 
                 Encontrar soluções aos problemas comuns em nosso meio 
                 buscando a excelência em serviços prestados, fundados na qualidade, 
                 ética, união, profissionalismo e crescimento individual e coletivo.
            </h4>
            <h4>Visão: Buscar a valorização da classe contábil contribuindo 
                para a conscientização da sociedade ao destacar a importância 
                do contador para o crescimento de toda  comunidade.
            </h4>


            <mat-divider></mat-divider>    
        </div>

        <div id="nucleo-com" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-comunicacao-image(560x320-crop).jpg" 
                 alt="Núcleo de Comunicação">
            <h3>Núcleo de Comunicação</h3>
            <h4>
                A proposta do Núcleo de Comunicação da ACIC é unir profissionais e 
                empresas online e off-line de Caçador, desenvolvendo equipes mais preparadas, 
                focadas no aprimoramento profissional e evolução do mercado, através do associativismo. 
                O Núcleo tem como principais objetivos: a cooperação e união dos profissionais 
                da comunicação e a promoção do aperfeiçoamento profissional.
            </h4>
            <mat-divider></mat-divider>    
        </div>

        <div id="nucleo-gest" class="nucleos-elements">
            <img src="../../assets/nucleos/nucleo-de-gestao-pela-excelencia-image(560x320-crop).png" 
                 alt="Núcleo de Gestão pela Excelência">
            <h3>Núcleo de Gestão pela Excelência</h3>
            <h4>
                O Núcleo tem como objetivo aproximar organizações e empresas que queiram melhorar 
                e/ou compartilhar seus processos de gestão, promovendo melhoria contínua 
                por meio de benchmarking, atualização nos processos, 
                capacitação e acesso a novas tecnologias e ou conhecimentos.
            </h4>
            <mat-divider></mat-divider>    
        </div>
        
        
    </div>


</div>