
%flex-center {
            display: flex;
    justify-content: center;
        align-items: center;
}

.impostometro-container {
    @extend %flex-center;
    width: 1100px;
    height: 250px;
    text-align: center;

}