%footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0px 10px 0px 10px;
}

.footer {
    margin-top: 25px;
    width: 1100px;
    height: 220px;
    text-align: center;   
    
}

.idVisual {
    display: flex;
    justify-content: center;    
}

.logoPrincipal {   
    margin-top: 50px;
    float: left;    
}

.logoPrincipal img {
    width: 120px;
}

.footerCenter {
    color: rgba(128, 128, 128, 1);    
}

.footerRight ul{
    color: rgba(128, 128, 128, 1);
    list-style: none;
}