<div class="footer">
    <mat-grid-list cols="3" rowHeight="2:3">
            <mat-grid-tile class="idVisual">
                    <div class="logoPrincipal">
                        <img src="../../assets/img/ACIC_logo.png" alt="">
                    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>Endereço ?? horarios</p>
            </mat-grid-tile>
            <mat-grid-tile>
                    <p>Contato: email/fone/</p>
            </mat-grid-tile>

            <img src="../../assets/img/ACIC_logo.png" alt="sead cacador">

    </mat-grid-list>
</div>