<div class="footer">
    <mat-grid-list color="primary" cols="3" rowHeight="2:1">
            <mat-grid-tile class="idVisual">
                    <div class="logoPrincipal">
                        <img src="../../assets/img/ACIC_logo.png" 
                             alt="Acic Caçador">
                    </div>
            </mat-grid-tile>
            <mat-grid-tile class="footerCenter">
                <span> Associação Empresarial de Caçador - 2019 </span>
            </mat-grid-tile>
            <mat-grid-tile class="footerRight">
                    <ul>
                        <li>Av. Barão do Rio Branco, 327</li>
                        <li>Caçador - SC, 89500-000</li>
                        <li>Telefone: (49) 3563-1116</li>
                    </ul>
            </mat-grid-tile>
    </mat-grid-list>
</div>

