<div class="footer">
    <mat-grid-list color="primary" cols="3" rowHeight="2:1">
            <mat-grid-tile class="idVisual">
                    <div class="logoPrincipal">
                        <img src="../../assets/img/ACIC_logo.png" 
                             alt="Acic Caçador">
                    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>Endereço ?? horarios</p>
            </mat-grid-tile>
            <mat-grid-tile>
                    <p>Contato: email/fone/</p>
            </mat-grid-tile>
    </mat-grid-list>
</div>

