<div class="container">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile colspan="2" rowspan="2.5" class="ban_princi">
      <mat-tab-group mat-stretch-tabs backgroundColor="red" [selectedIndex]="selected"
                 headerPosition='below'>
                 <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">panorama_fish_eye</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/banners/primario/banner01_500.jpeg" 
                         alt="Boa Vista SPC - Caçador">
                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">panorama_fish_eye</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/banners/primario/banner02_500.jpeg"
                         alt="empreender - Caçador">
                  </div>
                </mat-tab>
              
                <!-- <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">panorama_fish_eye</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/img/banner03.jpg" alt="">
                  </div>
                </mat-tab> -->
      </mat-tab-group>    
    </mat-grid-tile>
    
      <mat-grid-tile colspan="2" >
        <div class="bannersRight">
          <img src="../../assets/banners/secundario/banner01.jpeg" alt="Utilcard - Caçador">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" >
        <div class="bannersRight">
          <img src="../../assets/banners/secundario/banner02.jpeg" alt="Nucleos ACIC Caçador ">
        </div>
      </mat-grid-tile>

    
  </mat-grid-list>
</div>

  
  