<div class="container">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-tab-group mat-stretch-tabs backgroundColor="primary" [selectedIndex]="selected"
                 headerPosition='below'>
                 <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">done_outline</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/img/banner01.jpg" alt="">
                  </div>
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">done_outline</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/img/banner02.jpg" alt="">
                  </div>
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">done_outline</mat-icon>
                  </ng-template>
                  <div class="img-banner">
                    <img src="../../assets/img/banner03.jpg" alt="">
                  </div>
                </mat-tab>
      </mat-tab-group>    
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2" rowspan="1">
      <img src="../../assets/img/banner_secundario1.jpg" alt="Acic">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <img src="../../assets/img/banner_secundario1.jpg" alt="Acic">
    </mat-grid-tile>
  </mat-grid-list>
</div>

  
  