.banner {
    position: absolute;
    z-index: -1;
    left: 0px; 
}

mat-tab-group {
    display: flex;   
}

.container {
    width: 1100px;
    // margin-top: -32px;
}

.ban_princi{
    margin-top: -32px;
}

.ban_sec {
    // margin-top: -6px;
    height: 250px;
}

.img-banner img {
    max-width: 549px;
    max-height: 500px;
}

.bannersRight {
    
    // margin-left: 1px;
    //  margin-top: 30px;
     
    
}

.cont_ban_sec {
    padding-top: 30px;
    height: 500px;
}

.container_bannersRight {
    margin-top: 24px;
}