.banner {
    position: absolute;
    z-index: -1;
    left: 0px;
    
}

mat-tab-group {
    display: flex;
    
}

.container {
    width: 1100px;
    margin-top: -8px;
}

.img-banner img {
    max-width: 549px;
    max-height: 360px;
}