.banner {
    position: absolute;
    z-index: -1;
    left: 0px; 
}

mat-tab-group {
    display: flex;   
}

.container {
    width: 1100px;
    margin-top: -32px;
}

.img-banner img {
    max-width: 549px;
    max-height: 500px;
}

.bannersRight {
    margin-left: 1px;
     margin-top: 1px;
    
}